body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:677px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:598px;
}
#u4531 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:31px;
  width:337px;
  height:598px;
}
#u4532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:291px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4533 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:277px;
  width:272px;
  height:138px;
}
#u4534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:61px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4535 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:320px;
  width:240px;
  height:16px;
}
#u4536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u4537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:2px;
}
#u4537 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:375px;
  width:272px;
  height:1px;
}
#u4538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u4539 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:387px;
  width:57px;
  height:16px;
  color:#169BD5;
}
#u4540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
